.navigation{
    &__checkbox{
        display: none;
    }

    &__button{
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba($color-black, 0.3);
        text-align: center;
        cursor: pointer;

        @include respond(tab-port){
            top: 4rem;
            right: 4rem;
        }

        @include respond(phone){
            top: 3rem;
            right: 3rem;
        }

    }

    //the circle.
    &__background{
        height: 6rem;
        width: 6rem;
        border-radius: 50%;//makes a circle.
        position: fixed; //this will keep the element always on screen even if you scroll.
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark); //starts from the center of element and radiates outwards
        z-index: 1000; //higher value at front of screen. 
        transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);//usess 4 values to define the cube.
        
        @include respond(tab-port){
            top: 4.5rem;
            right: 4.5rem;
        }

        @include respond(phone){
            top: 3.5rem;
            right: 3.5rem;
        }
    
    }

    &__nav{
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;
        //hide nav items when not in use.
        opacity: 0; //hides the item but links are still clickable
        width: 0; //makes it so that links disappear too.
        transition: all .8s cubic-bezier(0.68,-0.55,0.265,1.55);
    }

    &__list{
        //make a mixin code to do these next 4 lines. These centralize things.
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%); //the 4 lines centralize list.
        list-style: none;
        text-align: center;
        width: 100%;
    }

    &__item{
        margin: 1rem;
    }

    &__link{
        &:link,
        &:visited{
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 2rem;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            background-image:  linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            background-size: 230%; //makes the bg image so big that even if the gradient is split down the middle, only one color is shown at a time. 
            transition: all .4s;

            span{
             margin-right: 1.5rem;
             display: inline-block;   
            }
        }

        &:hover,
        &:active{
            //shift the bg image by 100%. Since the bg is so big, it gives the illusion that the gradient is moving across the bg image. 
            background-position: 100%; 
            color: $color-primary-dark;
            transform: translateX(1rem);
        }
        
    }

    //bring up navigation bg when we hit the nav button
    &__checkbox:checked ~ &__background{
        transform: scale(80);
    }

    //make the nav items visible when we hit the nav button
    &__checkbox:checked ~ &__nav{
        opacity: 1; 
        width: 100%;
    }

    &__icon{
        position: relative;
        margin-top: 3.5rem;

        &,
        &::before,
        &::after{
            width: 3rem;
            height: 2px;
            background-color: $color-grey-dark-3;
            display: inline-block;
        }

        //inorder for the before and after pseudo element to appear their content property must be define.
        &::before,
        &::after{
           content: "";
           position: absolute;
           left:0;
           transition: all .2s;
        }
        &::before{top:-.8rem;}
        &::after{top: .8rem;}
    }

    &__button:hover &__icon::before{
        top: -1rem;
    }
    &__button:hover &__icon::after{
        top: 1rem;
    }

    //remove the middle dashed line on the nav button icon and make the remaining two form a cross
    //start by removing the middle one
    &__checkbox:checked + &__button &__icon{
       background-color: transparent;
    }
    //top dashed line
    &__checkbox:checked + &__button &__icon::before{
        top:0;
        transform: rotate(135deg);
    }
    //bottom dashed line
    &__checkbox:checked + &__button &__icon::after{
        top:0;
        transform: rotate(-135deg);
    }


}